html,body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
.container {
    height: 100%;
    padding: 0px 5px 0px 5px;
    position: relative;
}
      input {
        font-size: 12px;
      }
h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 20px 10px 0px 10px;
    text-align: left;
}
hr {
        background: #D0D7D9;
        height: 1px;
        margin: 20px 0 20px 0;
        border: none;
      }
table {
    padding-top: 30px;
}
#map {
        bottom:0px;
        height: 100%;
        left: 362px;
        position: absolute;
        right: 0px;
		top: 32px
      }
th {
    text-align: left;
    padding: 0px 0px 10px 0px;
}

header{
	z-index: 1;
	background-color: #fff;
	height:30px;
	padding: 10px 5px 0px 0px;
}